*/node_modules/*
*temp_build/*
*/bin/*
*_jalangi_*.js*
*obj/*
*obj-test/*
*.d
*.o
*.dylib
*.a
middleware/z3_modified/bin/external/*
*configure
*config.log
*config.status
*autom4te.cache
*Makefile
*lib.srcs
*shell.srcs
*npm-debug.log
*DS_Store